<li>
  <div class="arrow-comment-show">
    <%= link_to image_tag("arrowUp.png"), votes_path(comment_id: comment.id, up: true), :method => :post %>
    <%= comment.points %>

    [-]<span class="comment-author"><%= link_to comment.author.username, user_path(user_id: comment.author.id ) %></span> - <span class="comment-cohort"><%= comment.author.cohort %></span>

    <%= link_to image_tag("arrowDown.png"), votes_path(comment_id: comment.id, up: false), :method => :post %>
  </div>
    <span class="comment-body"><%= comment.body %></span>
    <br>
    <% post = get_parent_comment(comment).post %>
    <% subreddit = post.subreddit %>
    <span class="reply-button"><%= link_to 'Leave a reply', new_subreddit_post_comment_path(subreddit_id: subreddit.id, post_id: post.id, comment_id: comment.id) %> </span>
    <ul>
      <% comment.replies.order('points DESC').each do |comment| %>
        <%= render partial: "comments/show", locals: {comment: comment}%>
        <% end %>
      </ul>
  </li>
