
  <%@comment_karma = 0%>
  <%@user.comments.each do |comment|%>
    <%@comment_karma += comment.points%>
  <%end%>
  <%@link_karma = 0%>
  <%@user.posts.each do |post|%>
    <%@link_karma += post.points%>
  <%end%>
<div class="karma">
  <br>
  <p>
    <strong><%=@user.username%></strong><br>
    <strong><%=@link_karma%></strong> link karma<br>
    <strong><%=@comment_karma%></strong> comment karma<br>
  </p>
</div>
<div class="user-posts">
  <h3> Posts </h3>
  <ul>
    <% @user.posts.each do |post| %>
    <%@subreddit = post.subreddit%>
      <%= render partial: "shared/post", locals: { :post => post } %>
    <% end %>
  </ul>

  <h3>Comments</h3>

  <ul>
    <% @user.comments.each do |comment| %>
      <%=render partial: "comments/show", locals: {comment: comment}%>
    <% end %>
  </ul>
</div>
