<li class="actual-post">
    <span class="arrows-number">
      <%=link_to image_tag("arrowUp.png"),votes_path(post_id: post.id, up: true, outside_post: true) , :method => :post %>
      <%= post.points %>
      <%=link_to image_tag("arrowDown.png"),votes_path(post_id: post.id, up: false, outside_post: true), :method => :post  %>
    </span>

  <% if post.image_url != nil %>
    <div class="title-container-img">
      <img src=<%= post.image_url %>>
      <span class="title-with-image">
        <%=link_to post.title, subreddit_post_path(:subreddit_id => post.subreddit.id, :id =>post.id)%>
        <%=link_to post.subreddit.name, subreddit_path(post.subreddit)%>
      </span>
    </div>
  <% else %>
    <div class="title-container">
      <%=link_to post.title, subreddit_post_path(:subreddit_id => post.subreddit.id, :id =>post.id)%>
      <%=link_to post.subreddit.name, subreddit_path(post.subreddit)%>
    </div>
  <% end %>

