

<h3> Posts </h3>

<% @subreddits = Subreddit.all%>

<%@all_post_ids = []%>
<% @subreddits.each do |subreddit|%>
    <%subreddit.three_most_popular_posts.each do |popular_post| %>
      <%@all_post_ids << popular_post.id%>
  <%end%>
<%end%>

<%@posts = Post.where(id: @all_post_ids).order("points DESC")%>

<ul>
  <%@posts.each do |post|%>
  <li>
    <%=post.points %>
    <%=link_to 'Up Vote', votes_path(post_id: post.id, up: true, outside_post: true) , :method => :post %> -
    <%=link_to 'Down Vote', votes_path(post_id: post.id, up: false, outside_post: true), :method => :post %> -
    <%=link_to post.title, subreddit_post_path(:subreddit_id => post.subreddit.id, :id =>post.id)%>
    <%=link_to post.subreddit.name, subreddit_path(post.subreddit)%>
  </li>
  <%end%>
</ul>
