<h1> Post Show </h1>
  <h2><%=@post.title%></h2>
    <p><%=@post.body%></p>
  <hr>

<%= link_to 'Leave a comment', new_subreddit_post_comment_path(post_id: params[:id]) %>
<ul>
  <% @post.comments.each do |comment| %>
    <%=render partial: "comments/show", locals: {comment: comment}%>
  <% end %>
  </ul>
  <hr>

<%= link_to 'Edit Post', subreddit_post_path(params[:subreddit_id], @post.id), :method => :put %>
<br>
<%= link_to 'Delete Post', subreddit_post_path(params[:subreddit_id], @post.id), :confirm => "Are you sure you want to delete this post?", :method => :delete %>
<br>
<%= link_to 'Back', subreddit_path(params[:subreddit_id]) %>
<br>
<%= link_to 'Up Vote', votes_path(post_id: @post.id, up: true) , :method => :post %>
<br>
<%= link_to 'Down Vote', votes_path(post_id: @post.id, up: false), :method => :post %>

<p>
  Vote count: <%=@post.net_votes%>
</p>
