
<!-- Renders a popup error if user tries to vote while not logged in. -->
<%= render "shared/vote_error" %>

<h1>Subreddit: <%=@subreddit.name%></h1>

<h3> Description </h3>
<p>
  <%=@subreddit.description%>
</p>

<h3> Posts </h3>
<ul>
  <% @posts.each do |post| %>
  <li class="actual_post">
    <span class="arrows-number">
      <%=link_to image_tag("arrowUp.png"), votes_path(post_id: post.id, up: true, outside_post: true), :method => :post %>
      <%= post.points %>
      <%=link_to post.title, subreddit_post_path(@subreddit, post)%>
      <%=link_to image_tag("arrowDown.png"), votes_path(post_id: post.id, up: false, outside_post: true), :method => :post %>
    </span>
  </li>
  <% end %>
</ul>




<% if session[:user_id] == @subreddit.moderator.id %>
  <%= link_to "Edit Subreddit Info", edit_subreddit_path(@subreddit) %>
  <br>
  <%= link_to 'Delete this Subreddit', subreddit_path(@subreddit), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>

<p>
  <%= link_to "Add new post", new_subreddit_post_path(@subreddit) %>
</p>

<p>
  <%= link_to "Back", subreddits_path %>
  <br>

</p>
