
<!-- Renders a popup error if user tries to vote while not logged in. -->
<%= render "shared/vote_error" %>

<h1>Subreddit: <%=@subreddit.name%></h1>

<h3> Description </h3>
<p>
  <%=@subreddit.description%>
</p>

<ul>
  <% @posts.each do |post| %>
  <%= render partial: "shared/post", locals: { :post => post } %>
  <% end %>
</ul>




<% if session[:user_id] == @subreddit.moderator.id %>
  <%= link_to "Edit Subreddit Info", edit_subreddit_path(@subreddit) %>
  <br>
  <%= link_to 'Delete this Subreddit', subreddit_path(@subreddit), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>

<p>
  <%= link_to "Add new post", new_subreddit_post_path(@subreddit) %>
</p>

<p>
  <%= link_to "Back", subreddits_path %>
  <br>

</p>
