
<!-- Renders a popup error if user tries to vote while not logged in. -->
<%= render "shared/vote_error" %>
<div class="subreddit-info">
  <h1><%=@subreddit.name%></h1>
  <!-- # if user is not subscribed, show subscribe button -->
  <% @subscription = Subscription.find_by(user: User.find(session[:user_id]), subreddit: @subreddit)  if session[:user_id]%>
    <% if @subscription == nil %>
     <%= button_to "Subscribe", subscriptions_path(subreddit: @subreddit), {class: "subscribe"} %> <%=@subreddit.subscriptions.count%> subscribers
    <% else %>
    <%= button_to "unsubscribe", subscription_path(@subscription),method: :delete%>
    <% end %>
  <h3>Description</h3>
  <p><%= @subreddit.description %></p>
</div>

<ul>
  <% @posts.each do |post| %>
  <%= render partial: "shared/post", locals: { :post => post } %>
  <% end %>
</ul>




<% if session[:user_id] == @subreddit.moderator.id %>
  <%= link_to "Edit Subreddit Info", edit_subreddit_path(@subreddit) %>
  <br>
  <%= link_to 'Delete this Subreddit', subreddit_path(@subreddit), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>

<p>
  <%= link_to "Add new post", new_subreddit_post_path(@subreddit) %>
</p>

<p>
  <%= link_to "Back", subreddits_path %>
  <br>

</p>
