<!DOCTYPE html>
<html>
<head>
  <title>DbcReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id= "subreddit_list">
  <ul>
    <li class="subreddit_name"><%= link_to 'MY SUBREDDITS', root_path %></li>
    <li class="subreddit_name" id="front"><%= link_to 'FRONT', root_path %></li>
    <%if session[:user_id] %>
      <%@user = User.find(session[:user_id])%>
      <%@subreddits_nav_bar = @user.subreddits%>
    <%else%>
      <% @subreddits_nav_bar = Subreddit.all %>
    <%end%>

    <%@subreddits_nav_bar.each do |subreddit|%>
      <div class="subreddit_name">
        <li><%= link_to subreddit.name.upcase, subreddit%> </li>
      </div>
    <%end%>

  </ul>
</div>

<div id="header_bar">
  <div id="logo_header"><%= image_tag "redditalien.png" %></div>
  <div id="logo_text"> <h1>DBC reddit</h1></div>
</div>

<div id="login_form">

<span id="user-box">
  <% if session[:user_id] == nil %>
  want to join? <%= link_to "login", login_path %> or <%= link_to "register", new_user_path %> in seconds
  <% else %>
    <% @user = User.find(session[:user_id]) %>
    <strong><%= @user.username %></strong> | <%= @user.cohort %> | <%= link_to "Logout", logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
</span>
  <br>
  <%= form_tag :controller => 'posts', :action => 'search', :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field', :size => 46, :placeholder => "search"  %>
  <% end %>
<%= render partial: "shared/login" if session[:user_id] == nil %>
</div>



<%= yield %>

</body>
</html>
